<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/files.ejs') %>
    <title>My Video Game List</title>
</head>
<body class="landing">
    <div class="landing">
        <h1 class="landing">Welcome to My Video Game List!</h1>
        <h2 class="landing">Feel free to create an account below to start cataloguing your favorite video games.</h2>
        <h2 class="landing">If you're a returning user, good to see you back!</h2>
        <a href="/user/signup"><button class="landing">Sign Up</button></a>
        <a href="/user/login"><button class="landing">Login</button></a>
    </div>
    
</body>
</html>