<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/files.ejs') %>
    <title>New Game</title>
</head>
<body>
    <header class="show">
        <h1>My Video Game List</h1>
        <a href="/games"><h1>Home</h1></a>
    </header>
    <div class="new">
        <h1 class="new">Add a new game!</h1>
        <form class="new" action="/games" method="post">
            <h2>Name:</h2> <input type="text" name="name" placeholder="Name of the game" required>
            <br>
            <h2>Publisher:</h2> <input type="text" name="publisher" placeholder="Name of the publisher" required>
            <br>
            <h2>Year Released:</h2> <input type="number" name="yearReleased" placeholder="Year the game released" required>
            <br>
            <h2>Image:</h2> <input type="string" name="image" placeholder="Link to an image of the game" required>
            <br>
            <h2>Brief Description:</h2> <input type="string" name="briefDescription" placeholder="Brief description of the game" required>
            <br>
            <input type="submit" value="Add new game">
        </form>
    </div>
</body>
</html>