<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/files.ejs') %>
        <title>My Video Game List</title>
</head>

<body class="login">
    <div class="login">
        <h1>Login Below!</h1>
        <form action="/user/login" method="post">
            <h2>Username: <input type="text" name="username" required></h2>
            <h2>Password: <input type="password" name="password" required></h2>
            <input class="login" type="submit" value="Login">
        </form>
    </div>

</body>

</html>